<a href="https://colab.research.google.com/github/shwetamakwana/cs-assignments/blob/master/cs_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#question1 A program to get a user input in the form of list data type.return the list by removing all the duplicates.
lst=eval(input('enter list :'))
lst=list(set(lst))
lst.sort()
print(lst)

enter list :[4,4,5,6,8,4,5]
[4, 5, 6, 8]

In [55]:
#question2 user defined tuple with 'int' data type.
t=(7,6,8,3)
print(sum(t))
print(len(t))
print(max(t))
print(min(t))

24
4
8
3

In [67]:
#question3 given a number and ith bit , change ith bit of that number to 1
num=int(input('num : '))
i=int(input('i ='))
mag_num= 12
print(bit)

num : 13
i =1
1

In [0]:
#quetion4 given a number ,print 1 if the number is odd otherwise 0

num=int(input('enter a number :')) 
if(num%2==0):
  print(num,'is even number')
  else:
    print(num,'is odd number')





0

In [44]:
#question5 given a list of integers A and B ,and merge them into single list in ascending order.
A=[2,4,6,3]
B=[1,3,5,2]
C=A+B
print(C)
C.sort()
print(C)

[2, 4, 6, 3, 1, 3, 5, 2]
[1, 2, 2, 3, 3, 4, 5, 6]

In [104]:
#question6 dictonary to store name and marks of 5 students. sort the dictionary according to marks .
dic={70:'berlin',0:'oslo',50:'moscow',100:'nairobi'}
for s in sorted(dic):
  print(s,':',dic[s],end=',')

0 : oslo,50 : moscow,70 : berlin,100 : nairobi,